.lang-button{
  background-image: url(../../assets/img/imagesheet2.png);
  width: 54px;
  height: 52px;
  background-position: -106px -704px;
}

@media(max-width:576px){
  .lang-icon-button{
    padding: 9px !important;
  }
}
