*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e4e4e4;
  text-align: left;
  background-color: #222222;
}

.container{
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.d-flex{
  display: flex;
}

.justify-content-between{
  justify-content: space-between;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-start{
  justify-content: start;
}

.align-items-center{
  align-items: center;
}

.f-column{
  display: flex;
  flex-direction: column;
}

.text-center{
  text-align: center;
}

.page-content{
  padding-top: 6.75rem;
}


@media  (max-width: 576px){
  .container{
    max-width: 100%;
    padding: 0 5px;
  }
  .button-size{
    transform: scale(0.7);
  }
  .page-content{
    padding-top: 4.5rem;
  }
}


@media  (max-width:375px){
  .button-size{
    transform: scale(0.6);
  }
}